{% load static %}
<!doctype html>

<html lang="en">

{% include "payscan/includes/head.html" %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">

<body data-barba="wrapper">
<main class="form-signin" data-barba="container" data-barba-namespace="page">

<style>
  .header{
   height: 48px;
   margin-bottom:40px;
  }
</style>


<body class="text-center">


  <body id="main" data-barba="wrapper" class="text-center m-scene">

    <main id="main-content" class="m-page form-signin">    
            
      {% include "payscan/includes/header_business.html" %}

    <form method="POST">
      {% csrf_token %}
    <h3 class="h3 mb-3 fw-normal">Store Information</h3>
    

    <h6><b>Name:{{ payee.name}}</b></h6>
    <h6><b>ID: {{ payee.id }} </b></h6>
<br><br>
    <h6 class="h6 mb-3 fw-normal"><b>Please Enter Amount Due and Press Pay</b> </h6>



    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% if form.amount.errors %}
        <div class="alert alert-danger">
            {{ form.amount.errors }}
        </div>
    {% endif %}

   
    <div class="form-floating">
      <input type="" class="form-control" name="amount" id="floatingInput" placeholder="Payment">     
      <label for="floatingInput"><h6 class="pholder">Amount Due - E<h6></label>
    </div>

    <div class="form-floating" hidden>
      <input type="text"  class="form-control" value="{{ payee.id }}" name="business" placeholder="BusinessName">
      <label for="floatingInput"><h6 class="pholder">Business<h6></label>
    </div>

    
    <div><h6>Press Send and Enter Pin on USSD PopUp to Approve Transaction</h6></div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">PAY</button>

    <a href="/scanner" class=""><img src="{% static 'img/arrow-return-left.svg' %}" />Back To Scanner</a>
    {% include "payscan/includes/footer.html" %}

  </form>
</main>
{% include "payscan/includes/foot.html" %}

  </body>
</html>










