django==5.0
whitenoise 
gunicorn 
qrcode
requests
opencv-python 
pyzbar
qrcode[pil]  
Pillow
django-axes
twilio
django-twilio
python-decouple
uni-sdk
django-ratelimit
django-redis
unimatrix
firebase-admin

