{% load static %}
<!doctype html>

<html lang="en">
    {% include "payscan/includes/head.html" %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
   
    <body data-barba="wrapper">
        <main class="form-signin" data-barba="container" data-barba-namespace="page">
        <img class="mb-4 fa fa-pull-left" src="{% static 'img/PAYSCAN(3).gif' %}" alt="" width="100%">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            var timer = setTimeout(function() {
                $.getJSON('/check_login_status/', function(data) {
                    if (data.is_logged_in) {
                        $.getJSON('/check_user_type/', function(data) {
                            if (data.user_type === 'business') {
                                window.location = '/afterlogin_business';
                            } else if (data.user_type === 'agent') {
                                window.location = '/afterlogin_agent/';
                            } else {
                                window.location = '/afterlogin/';
                            }
                        });
                    } else {
                        window.location = 'login';
                    }
                });
            }, 2500);
        </script>
        <br>
        {% include "payscan/includes/footer_bottom.html" %}
    </main>

    {% include "payscan/includes/foot.html" %}

</body>

    
</html>
