{% load static %}
<!doctype html>

<html lang="en">

{% include "payscan/includes/head.html" %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">


<style>
  .header{
   height: 48px;
   margin-bottom:40px;
  }
</style>


<body id="main" data-barba="wrapper" class="text-center m-scene">
  <main id="main-content" class="m-page form-signin">      
      {% include "payscan/includes/header.html" %}

   
      
 
          <h1>Registration Error</h1>
          <p>You are not registered as the required user type.</p>
          <p>Please click here to  <a href="/register_agent_2/">register as an agent</a> or click here to <a href="/register_business_2/">register as a business</a>.</p>
    
      

    {% include "payscan/includes/footer_bottom.html" %}


</main>
{% include "payscan/includes/foot.html" %}

  </body>
</html>










