{% load static %}
<!doctype html>
<html lang="en">
    {% include "payscan/includes/head.html" %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

   

<body id="main" data-barba="wrapper" class="text-center m-scene">
        <main id="main-content" class="m-page form-signin">
            {% include "payscan/includes/header_beforelogin.html" %}

      
          <div class="spinner-grow text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>

      {% include "payscan/includes/footer_bottom.html" %}
    </section>
    </main>
  </div>
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
  </a>

  

{% include "payscan/includes/foot.html" %}



  </body>
</html>
