{% load static %}
<!doctype html>

<html lang="en">

{% include "payscan/includes/head.html" %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">

<style>
  .header{
   height: 48px;
   margin-bottom:40px;
  }
</style>


<body id="main" data-barba="wrapper" class="text-center m-scene">
  <main id="main-content" class="m-page form-signin">  
            
      {% include "payscan/includes/header.html" %}

    <form method="POST">
      {% csrf_token %}
  
    <h6 class="h6 mb-3 fw-normal"><b>Please Enter The Required Details and Press Send Deposit</b> </h6>

    
    <div class="form-floating">
      <input  type="number" step="0.01" class="form-control" name="amount" id="floatingInput" placeholder="Payment">
      <label for="floatingInput"><h6 class="pholder">Amount  - SZL<h6></label>
    </div>
    

    <button class="w-100 btn btn-lg btn-primary" type="submit">WITHDRAW</button>

    {% include "payscan/includes/footer_bottom.html" %}

  </form>
</main>
{% include "payscan/includes/foot.html" %}

  </body>
</html>










