
    <!-- ======= Footer ======= -->
    <footer id="footer " class="footer ">

        <div class="container ">
            <div class="row gy-4 ">
                <div class=" footer-info ">
                    <a href="index.html " class="logo d-flex align-items-center ">
                        <span>PayScan</span>
                    </a>
                    <div class="social-links d-flex mt-4 ">
        
                        <a hidden href="# " class="twitter "><i class="bi bi-twitter "></i></a>
                        <a href="https://facebook.com/profile.php?id=100090427822694 " class="facebook "><i class="bi bi-facebook "></i></a>
                        <a hidden href="# " class="instagram "><i class="bi bi-instagram "></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=26879130668&text=greetings+i+would+like+to...&type=phone number&app absent=0" class="whatsapp "><i class="bi bi-whatsapp "></i></i></a>
        
                    </div>
                </div>
        
                <div hidden class=" footer-links ">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="# ">Home</a></li>
                        <li><a href="# ">About us</a></li>
                        <li><a href="# ">Services</a></li>
                        <li><a href="# ">Terms of service</a></li>
                        <li><a href="# ">Privacy policy</a></li>
                    </ul>
                </div>
        
               
        
                <div class=" footer-contact text-center text-md-start ">
                    <h4>Contact Us</h4>
                    <p>
        
        
                        <strong>Phone:</strong> +26878130668<br>
                        <strong>Email:</strong> payscan.elite@gmail.com<br>
                    </p>
        
                </div>
        
            </div>
        </div>
        
        <div class="container mt-4 ">
            <div class="copyright ">
                Copyright &copy; 2023 <strong><span>PayScan</span></strong>. All Rights Reserved
            </div>
            <div class="credits " hidden>
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
                Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a>
            </div>
        </div>
        
        </footer>
        
    <!-- End Footer -->
