{% load static %}
<!doctype html>

<html lang="en">

{% include "payscan/includes/head.html" %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">

<body data-barba="wrapper">
<main class="form-signin" data-barba="container" data-barba-namespace="page">

<style>
  .header{
   height: 48px;
   margin-bottom:40px;
  }
</style>

<body id="main" data-barba="wrapper" class="text-center m-scene">

  <main id="main-content" class="m-page form-signin">
      {% include "payscan/includes/header_beforelogin.html" %}
{% if messages %}
      <div>
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}
      <h3>Payscan <img  src="{% static 'img/agent.svg' %}"  width="30px"> Agent </h3>

        <form method="POST" >

          {% csrf_token %}


          {% if error %}
          <div class="alert alert-danger"><strong>{{ error }}</strong></div>
          {% endif %}

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="charset" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
      <label for="floatingInput">Phone Number</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" Required>
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <a href="/register_agent/">Click Here To Register as Agent</a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="/login_business">Sign in</button>

    {% include "payscan/includes/footer_bottom.html" %}
  </form>








</main>


{% include "payscan/includes/foot.html" %}

  </body>
</html>
