{% load static %}
<!doctype html>

<html lang="en">

{% include "payscan/includes/head.html" %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">

<style>
  .header{
   height: 48px;
   margin-bottom:40px;
  }
</style>

<body id="main" data-barba="wrapper" class="text-center m-scene">
  <main id="main-content" class="m-page form-signin">  
    
      
      {% include "payscan/includes/header.html" %}


      {% csrf_token %}
    

    <h6><b>Name: {{ user.first_name  }}   {{user.last_name}}<br></b></h6>
    <h6><b>ID: {{ user.username}} </b></h6>
<br>
    <h6 class="h6 mb-3 fw-normal"><b>DEPOSIT FROM</b> </h6>

   <a href="/deposit/ "> <button class="w-100 btn btn-lg btn-primary" 
    style="background:#FFCB05; 
    border: solid;     
    border-color: #4d1616;" >MOMO WALLET  
    <img style="height: 30px;" src="{% static "img/mtnmomo.svg" %}"/> </button> </a>


    
    {% include "payscan/includes/footer_bottom.html" %}

  </form>
</main>
{% include "payscan/includes/foot.html" %}

  </body>
</html>










