<!DOCTYPE html>
<html lang="en">
{% load static %}

{% include "payscan/includes/head.html" %}
<style>
    .btn-outline-primary {
    --bs-btn-color: #4d1616;
    --bs-btn-border-color: #e9d8d8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4d1616;
    --bs-btn-hover-border-color: #e9d8d8;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e9d8d8;
    --bs-btn-active-border-color: #4d1616;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: grey;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}
</style>

<body id="main" data-barba="wrapper" class="text-center m-scene">
    <!-- Header -->
        {% include "payscan/includes/header.html" %}
        
        <!-- Main content wrapper for SmoothState.js -->
            <main id="main-content" class="m-page form-signin">  
                <!-- Your main page content -->
                <!-- Hero Section -->
                <section id="hero" class="hero">
                    <center>
                        <div class="section-header">
                            <h4 class="btn px-3" style="background:rgb(233,216,216); color:#4d1616; margin-top:10%;">
                                {{ user.first_name }} {{ user.last_name }}<br>
                                <strong>BALANCES</strong><br>
                                MOMO WALLET: <strong>{{ balance.availableBalance }} {{ balance.currency }}</strong> <br>
                            </h4>
                        </div>
                    </center>
                </section>
                <!-- End Hero Section -->
                <!-- Transaction History Section -->
                <section id="transaction-history" class="animate__animated animate__fadeInUp">
                    <div class="section-header">
                        <h2>Transactions</h2>
                        <div class="container">
                            <div class="form-group">
                                <label for="transactionDate">Transaction Date:</label>
                                <input type="date" id="transactionDate" name="transaction_date" value="{{ today|date:"Y-m-d" }}">
                            </div>
                            <button onclick="fetchAndFilterTransactions()">Filter</button>
                        </div>
                        
                        
                    </div>
                    <table class="table table-borderless">
                        <thead class="table-danger" style="font-size: smaller;">
                            <tr>
                                <th scope="col">Trans ID</th>
                                <th scope="col">Recipient ID</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody style="background:#4d1616; font-size: xx-small; font-weight: bold;">
                            {% for transactions in transactions %}
                            <tr class="" style="background-color: #e9d8d8;">
                                <td>{{ transactions.id }}</td>
                                <td>{{ transactions.business.name }} ({{ transactions.business.id }})</td>
                                <td>SZL {{ transactions.amount }}</td>
                                <td>{{ transactions.transaction_type }}</td>
                                <td>{{ transactions.timestamp }}</td>
                            {% empty %}
                                <td colspan="5">No transactions found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </main>
        </div>
    
        <!-- Footer -->
        {% include "payscan/includes/footer_bottom.html" %}
        
        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
        <!-- Vendor JS Files -->
        {% include "payscan/includes/foot.html" %}
</body>
</html>
