{% load static %}
<!doctype html>

<html lang="en">

{% include "payscan/includes/head.html" %}

<style>
  .header{
   height: 48px;
   margin-bottom:40px;
  }
</style>


<body id="main" data-barba="wrapper" class="text-center m-scene">
  <main id="main-content" class="m-page form-signin">  
      
      {% include "payscan/includes/header.html" %}

      <div>
        <h3>There was an error processing your payment.</h3>
        <p>Please try again later or contact support if the issue persists.</p>
        <img class="mb-4" src="{% static 'img/error.svg' %}" alt="" width="30%" height="30%">
        <br><br>
        <a href="/scanner/" class="btn btn-primary">Back to Scanner</a>
        <a href="/scanner" class=""><img src="{% static 'img/arrow-return-left.svg' %}" />Back To Scanner</a>
      </div>
    {% include "payscan/includes/footer_bottom.html" %}

  </form>
</main>
{% include "payscan/includes/foot.html" %}

  </body>
</html>










